h1{
    display: inline;
    background-color: aqua ;
}

ul{
    display: inline-flex;
}

li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 20px;
}
a{
    display: inline-block;
    list-style-type: none;
    margin: 0px 20px; 
}
p{
    display: inline-flex;
    background-color:;
}
.nuestrosproductos{
    background-color: blue;
    width:auto;
    height: auto;
    margin:0px;
    padding: 00px;
    border: solid;
    box-sizing: border-box;
}

footer{
    grid-area: miFooter;
    background-color: aquamarine;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;    
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,65,1) 35%, rgba(0,212,255,1) 100%);
}
.slide{
    margin-top:30px;
}
.slide img {
    height: 75vh;
}